body {
    background-color: black;
    color: white;
}


.sections {
    padding: 3rem 8%;
    display: block;
}

.sections p {
    font-size: 1.2rem;
    text-align: center;
}

.dark-section {
    background: black;
}

.light-section {
    background-color: #181818;
}

.section-heading {
    display: block;
    font-size: 3rem;
    font-weight: 500;
    color: #00BB00;
    text-shadow: 3px 4px #005500;
    text-decoration: none;
    padding-bottom: 0.7rem;
    text-align: center;
}

.card, .card:hover {
    background-color: #111111;
    color: white;
    text-decoration: none;
}

.card img {
    transition: transform 0.3s;    /* Animation */
}

.card img:hover, .card img:active {
    transform: scale(1.12);
}


#copyright {
    text-align: center;
    color: gray;
}

hr {
    display: none;
}

